* {
  font-family: "Poppins", sans-serif;
}


/* font-family: 'Poppins', sans-serif; */

.font-garamond{
    font-family: 'EB Garamond', serif;

}
.my-bg-img{
    background: linear-gradient(180deg, #111 0%, rgba(17, 17, 17, 0.00) 100%), url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}